@import "../App.css";

.about {
    height: calc(100vh - 80px);
    background: var(--tealMain);
}

.headshot-container {
    justify-content: center;
}

.headshot {
    max-height: 60vh;
    max-width: 80vw;
    padding: 7px;
    margin: 40px;
    background-color: var(--navbarMain) !important;
}