@import "../App.css";

.home-container {
    padding: 25vh 15vw;
}

.home {
    height: calc(100vh - 80px);
    background-color: var(--tealMain);
}

.hi-container {
    margin-bottom: 4rem;
}

.hi {
    color: var(--whiteMain);
}

.intro {
    color: var(--whiteMain);
    margin-bottom: 0.1rem;
}

.typewriter {
    font-size: 30px;
    margin-top: 1rem;
    font-family: "Coolvetica"; 
    font-weight: 400;
    color: var(--navbarHover);
}

.cursorSize {
    color: var(--tealMain);
  }