@import "../App.css";

.page-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home-container {
    padding: 25vh 15vw;
}

.home {
    min-height: calc(100vh - 80px);
    background-color: var(--tealMain);
    overflow: hidden;
}

.hi-container {
    margin-bottom: 4rem;
}

.hi {
    color: var(--whiteMain);
}

.intro {
    color: var(--whiteMain);
    margin-bottom: 0.1rem;
}

.typewriter {
    font-size: 30px;
    margin-top: 1rem;
    font-family: "Coolvetica"; 
    font-weight: 400;
    color: var(--navbarHover);
}

.cursorSize {
    color: var(--tealMain);
  }

.logo-container {
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18vh 10vw;
    overflow: hidden;
}

.logo {
    border-radius: 50%;
    border: 10px solid var(--whiteDarker);
    /* max-height: 10rem;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-right: 10vw; */
    max-width: 30em;
    max-height: 30em;
}

@media screen and (max-width: 1793px) {
    .logo {
        display: none;
    }
}