@import "../App.css";

.projects {
    background: var(--whiteMain);
    padding: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--whiteMain);
    color: var(--whiteMain);
    flex-shrink: 0;
    transition: all .2s ease-in-out; 
}

.card:hover {
    transform: scale(1.05); 
}