@import "../../App.css";

.footer {
    height: 155px;
    background-color: var(--navbarMain);
}

.icons {
    font-size: 30px;
    color: var(--whiteMain);
    justify-content: center;
    padding: 30px;
    grid-gap: 20px;
}

.github:hover {
    background-color: var(--whiteMain);
    border-radius: 2;
}

.copyright {
    color: var(--whiteMain);
    font-size: 12px;
    text-align: center;
}