@import "../../App.css";

.footer {
    height: 155px;
    background-color: var(--navbarMain);
}

.icons {
    font-size: 30px;
    color: var(--whiteMain);
    justify-content: center;
    padding: 30px;
    grid-gap: 30px;
    height: 110px;
}

.email:hover {
    background-color: var(--navbarHover);
    border-radius: 5px;
    transition: all 0.2s ease-out;
    padding: 0.20rem 0.75rem;
}

.github:hover {
    background-color: var(--navbarHover);
    border-radius: 5px;
    transition: all 0.2s ease-out;
    padding: 0.20rem .75rem;
}

.linkedin:hover {
    background-color: var(--navbarHover);
    border-radius: 5px;
    transition: all 0.2s ease-out;
    padding: 0.20rem 0.75rem;
}

.copyright {
    color: var(--whiteMain);
    font-size: 12px;
    text-align: center;
}